{% load static %}
<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> our <span>features</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src={% static "image/feature-img-1.png"%} alt="">
            <h3>Cheap and Quality</h3>
            <p>At OLF, we sell cheap, but quality and durable furnitures and furniture materials!</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src={% static "image/feature-img-2.png"%} alt="">
            <h3>free delivery</h3>
            <p>We deliver your furnitures to where you are in less than <b>5</b> days</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src={% static "image/feature-img-3.png"%} alt="">
            <h3>easy payments</h3>
            <p>To ease our customers, we accept payment via Remita, Paystack and other means!</p>
            <a href="#" class="btn">read more</a>
        </div>

    </div>

</section>

<!-- features section ends -->