{% load static %}
    
{% block css %}
	<link rel="stylesheet" type="text/css" href={% static "css/style.css"%}>
{% endblock css %}


 
  <section class="home">
     <div class="slider">
        <div class="slide active" style="background-image: url('/static/image/chair.jpg')">
            <div class="container">
                <div class="caption">
                    <h1>Looking for quality furniture?</h1>
                    <p>We are here for you.</p>
                    <a href="">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="slide" style="background-image: url('/static/image/Chairs.jpg')">
            <div class="container">
                <div class="caption">
                    <h1>Cheap and Affordable</h1>
                    <p></p>
                    
                    <a href="">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="slide" style="background-image: url('static/image/chair.jpg')">
            <div class="container">
                <div class="caption">
                    <h1>Fast Delivery</h1>
                    <p>We deliver anywhere in Nigeria</p>
                    <a href="">Contact Us</a>
                </div>
            </div>
        </div>
               <div class="slide" style="background-image: url('static/image/Kitchen.jpg')">
            <div class="container">
                <div class="caption">
                    <h1>Order your furniture</h1>
                    <p>Quality and durable materials</p>
                    <a href="">Ship Now</a>
                </div>
            </div>
        </div>
     </div>
   
    <!-- controls  -->
    <div class="controls">
        <div class="prev"><</div>
        <div class="next">></div>
    </div>

    <!-- indicators -->
    <div class="indicator">
    </div>

  </section>

{% block js%}
  
{% endblock %}




